{
  "openapi": "3.0.0",
  "info": {
    "title": "Ringba API Documentation",
    "description": "Ringba’s APIs allow you to interact, gather information, and make dynamic changes in real-time. All functions found within the Ringba portal are also available programmatically through our API. \n\nIf this is your first time using our API, please read the __Getting Started__ section below.",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://api.ringba.com/v2/",
      "variables": {}
    },
    {
      "url": "https://rtb.ringba.com/v1/{environment}",
      "variables": {
        "environment": {
          "default": "DefaultParameterValue"
        }
      }
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Bearer Tokens"
        ],
        "summary": "Get User Authentication Bearer Token",
        "operationId": "GetUserAuthenticationBearerToken",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/x-www-form-urlencoded; charset=UTF-8"
              ],
              "type": "string",
              "example": "application/x-www-form-urlencoded; charset=UTF-8"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "grant_type",
                  "username",
                  "password"
                ],
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "example": "password"
                  },
                  "username": {
                    "type": "string",
                    "example": "{{userEmail}}"
                  },
                  "password": {
                    "type": "string",
                    "example": "{{password}}"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 01 Feb 2021 18:25:55 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1354"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserAuthenticationBearerToken"
                },
                "example": {
                  "access_token": "0VH31LtRMFtHowoXf2IpXgcEvZMKVcs8uIjGcM9As91mYDpWJAwMZCeeWo8fDKI-oIbVlWrEmGJwkNiDMvu6NSN2ibkOWKzOOdshY6mSvhgfSykciPegwkepTrhc8EjWDBOR1zM0Y9GffMXcSIxAQEZAyxIIxrc7e12ipGROlWQtTJ8Ync0e9WiGAFTSvX5YNewfJgvef4S_ObwWvsCIsHPeEoyVxoNHoBoZMyeZih0_Wyq9hp8aPXdjmNLaBPMDMtrXSZocIWMVbz4LSjk18tmjtDy4dHwgtkFzcqhomaeYqz2sS-xJLUdb7DfTRUZpbGRamG4in5jpcAWKwkWmgRIl9vNKH4wKQiR8CrlNgSgf4VCaR-NKuZqOJXrLxn6JJlBTqJLueOZBv3FK27ex7X1gvm3Q9eul_XA4vzawFPDlnO6Xi7RpqG0rnfvkYjgWYVaV4G-vYdSoi3Tm4CkCMcHscCJ0ythxx1QQER##########",
                  "token_type": "bearer",
                  "expires_in": 3599,
                  "refresh_token": "tHt5ISkNZO_8apbiN1RdtTWHik7Uf5Rp6cVe0uX7auRPng0iFrMygs33L4HE8DEnWdMGxE6jNt10-hS8xEFjuerKJcU0qxSPVlaGCsifnE9z600TKOotN0UrM4-mzbzbydp18hsT2EYDgJ1MI0yAbbctcM8XTgxlnDhHaKnvLuA8ck7WUaPxqyyxtUvo9U-C4KunMHkIcZuNqx13wOBNbV2SQZ9Dgcw0ynPKHjoRemA9JCE3g0qhEDs-iQ3Rv9UE_lkXVzZp9_WzGTtfdU5a8V8mOfQhuE24Glw5LLRPa1oEUWMzdhKJMe5nqYF2gH_CDWR1fZwVXA1gjDrSKJqb8HnZPQPzYvegAxVNEpO-v_EHGV0c2g7Mx6zxdZJvy9huA5slJaJHef-rBwVI97MIrCgfFg1s9gnKEnC5kNpNs4NemAKP-B-tKMLYv12T4YT0K0lEZss76y-S4NdlT2QrtXKXSGqN3UYR0oj50c##########",
                  "userName": "ringba.api.user@gmail.com",
                  ".issued": "Mon, 01 Feb 2021 18:25:55 GMT",
                  ".expires": "Mon, 01 Feb 2021 19:25:55 GMT"
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      }
    },
    "/ApiTokens": {
      "get": {
        "tags": [
          "API Tokens"
        ],
        "summary": "Get API Tokens",
        "description": "Endpoint to retrieve a list of IDs of current API Tokens in your account. \n\n\n\n### Response Overview\n<hr>\n<br>\n\nIf the API Token has not been used, the `usage` array will be empty, otherwise it will contain the last 10 actions.\n\nThis request will __NOT__ return the actual API Token, but will show the ID of each Token. If you need the actual API Token, you can create a new one using the `POST Create API Token` request or contact Ringba support.",
        "operationId": "GetAPITokens",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 01 Jul 2020 18:30:41 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "538"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetAPITokenswithusage"
                },
                "example": {
                  "transactionId": "TR4c37f7e0-674f-4370-9c88-278a624d9e25",
                  "apiTokens": [
                    {
                      "usage": [
                        {
                          "ipAddress": "68.6.132.162",
                          "protectedResource": "/api/v1/RA608a55cf08d848b9ae4cac7402f1c019/lookup",
                          "loginTime": "2020-06-30T23:10:02.159+00:00"
                        },
                        {
                          "ipAddress": "68.6.132.162",
                          "protectedResource": "/api/v1/RA608a55cf08d848b9ae4cac7402f1c019/lookup",
                          "loginTime": "2020-06-30T23:09:04.738+00:00"
                        },
                        {
                          "ipAddress": "68.6.132.162",
                          "protectedResource": "/api/v1/RA608a55cf08d848b9ae4cac7402f1c019/lookup",
                          "loginTime": "2020-06-30T23:08:59.522+00:00"
                        },
                        {
                          "ipAddress": "68.6.132.162",
                          "protectedResource": "/api/v1/RA608a55cf08d848b9ae4cac7402f1c019/lookupbulk",
                          "loginTime": "2020-06-30T23:06:18.717+00:00"
                        },
                        {
                          "ipAddress": "68.6.132.162",
                          "protectedResource": "/api/v1/RA608a55cf08d848b9ae4cac7402f1c019/lookup",
                          "loginTime": "2020-06-30T23:06:04.15+00:00"
                        },
                        {
                          "ipAddress": "68.6.132.162",
                          "protectedResource": "/api/v1/RA608a55cf08d848b9ae4cac7402f1c019/lookup",
                          "loginTime": "2020-06-30T23:05:54.129+00:00"
                        },
                        {
                          "ipAddress": "68.6.132.162",
                          "protectedResource": "/api/v1/RA608a55cf08d848b9ae4cac7402f1c019/lookup",
                          "loginTime": "2020-06-30T23:05:16.489+00:00"
                        }
                      ],
                      "name": "Test",
                      "userName": "gus@ringba.com",
                      "creationTime": "2020-06-30T23:03:06.781+00:00",
                      "tokenId": "API347036dbc137412195617416ab36cffa",
                      "userId": "398924893-cb0f-409b-9148-d65f4f5695be"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      },
      "post": {
        "tags": [
          "API Tokens"
        ],
        "summary": "Create Api Token",
        "description": "#### How to Generate Your API Token\n\nCreate an API Token to be used for authenticating requests indefinitely. In the json response grab the `token` value and use as `{apiToken}` in the header `Authorization: Token {apiToken}` on all other requests. The body must contain the name for your API Token so you can identify when pulling the list of active tokens.\n\n**NOTE: The API Token will be shown only once, please keep it in a safe place**",
        "operationId": "CreateApiToken",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiTokenRequest"
              },
              "example": {
                "name": "Test"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      }
    },
    "/ApiTokens/{apiTokenId}": {
      "delete": {
        "tags": [
          "API Tokens"
        ],
        "summary": "Delete Api Token",
        "description": "Delete any existing API Token by supplying the ID in the URL. The IDs can be retrieved using the \"Get API Tokens\" endpoint.",
        "operationId": "DeleteApiToken",
        "parameters": [
          {
            "name": "apiTokenId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 25 Jun 2020 16:01:11 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "230"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteApiToken"
                },
                "example": {
                  "transactionId": "TR6d6470e4-8b72-4ec5-9cee-45c0378a5ce2",
                  "deleteApiToken": "API3c7ced56045443a8a66711683b663f51"
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      }
    },
    "/ringbaaccounts": {
      "get": {
        "tags": [
          "Account Information"
        ],
        "summary": "Get Account Info using API Token",
        "description": "Simple authenticated request that uses the `API Token`. This request pulls the account information of the user that was granted the API Token. You can use this request if you ever need to find out your `Account ID` for other API requests.",
        "operationId": "GetAccountInfousingAPIToken",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Find your [apiToken](#get-or-create-api-token)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Token {{apiToken}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 01 Jul 2020 21:23:57 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "451"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountInfo"
                },
                "example": {
                  "transactionId": "TRdb998cad-82fd-45b3-ae3e-9fdc9001bbd3",
                  "account": [
                    {
                      "accountCreationEpoch": 1513899772617,
                      "timeZoneId": "Eastern Standard Time",
                      "accountAddress": {
                        "streetAddress": "3344 Terrace Ave",
                        "addressLine2": "",
                        "city": "San Diego",
                        "region": "California",
                        "postalCode": "92113",
                        "countryName": "United States",
                        "countryCode": "US"
                      },
                      "id": "RA432a55cf08d848b9aertac7402f3r5y6",
                      "name": "Ringba Testing Company",
                      "accountId": "RA432a55cf08d848b9aertac7402f3r5y6",
                      "enabled": true,
                      "version": 1
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      }
    },
    "/{accountId}/addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get Addresses",
        "description": "### Path Variables\n<hr>\n<br>\n\n``accountId`` Find your [accountId](#get-your-account-information)",
        "operationId": "GetAddresses",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Find your [apiToken](#get-or-create-api-token)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Token {{apiToken}}"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Tue, 09 Feb 2021 22:23:11 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "448"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetAddresses"
                },
                "example": {
                  "transactionId": "TR1fed7965-3065-4c76-bcd2-f97916964446",
                  "addresses": [
                    {
                      "id": "ADe86e712170c14d7caebe6f3afb130868",
                      "customerName": "Paper Street Soap Co.",
                      "streetAddress": "123 Paper St",
                      "city": "Lander",
                      "region": "Wyoming",
                      "postalCode": "82520",
                      "countryName": "United States",
                      "countryCode": "US",
                      "isDefault": false,
                      "status": "incomplete",
                      "name": "Tyler Durden",
                      "accountId": "RA25107ee2411049989cd8672852278bdb",
                      "enabled": true,
                      "version": 1
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      },
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Create New Address",
        "description": "Create a new address to associate with this account. \n\n### Path Variables\n<hr>\n<br>\n\n``accountId`` Find your [accountId](#get-your-account-information) <br>\n\n### Request Body\n<hr>\n\n#### Required Parameters\n<table>\n    <tr>\n        <th>Parameter</th>\n        <th>Description</th>\n    </tr>\n    <tr>\n        <td><code>name</code></td>\n        <td>The name you want to assign to this address to make it easier to identify later</td>\n    </tr>\n    <tr>\n        <td><code>countryName</code></td>\n        <td>The country this address is in</td>\n    </tr>\n    <tr>\n        <td><code>countryCode</code></td>\n        <td>The alphabetic country code for the country of the address</td>\n    </tr>\n    <tr>\n        <td><code>customerName</code></td>\n        <td>The name of the business associated with this address</td>\n    </tr>\n    <tr>\n        <td><code>streetAddress</code></td>\n        <td>The street address you want to add</td>\n    </tr>\n    <tr>\n        <td><code>city</code></td>\n        <td>The city the address is in</td>\n    </tr>\n    <tr>\n        <td><code>postalCode</code></td>\n        <td>The postal (zip) code for the address</td>\n    </tr>\n</table>\n\n#### Optional Parameters\n<table>\n<tr>\n        <th>Parameter</th>\n        <th>Description</th>\n    </tr>\n<tr>\n        <td><code>region</code></td>\n        <td>The state or region for the address, if applicable</td>\n    </tr>\n</table>",
        "operationId": "CreateNewAddress",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Find your [apiToken](#get-or-create-api-token)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Token {{apiToken}}"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewAddressRequest"
              },
              "example": {
                "city": "Midlothian",
                "countryCode": "US",
                "countryName": "United States",
                "customerName": "Paper Street Soap Company",
                "name": "Test2",
                "postalCode": "23112",
                "region": "Virginia",
                "streetAddress": "456 Paper St"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Tue, 19 Jan 2021 22:21:43 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "445"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewAddress"
                },
                "example": {
                  "transactionId": "TR1af11695-2f80-47b8-aa74-d234e2c43d0e",
                  "addressId": "ADb56e411dffb346dc95b816f755869fe7",
                  "address": {
                    "id": "ADb56e411dffb346dc95b816f755869fe7",
                    "customerName": "Paper Street Soap Company",
                    "streetAddress": "456 Paper St",
                    "city": "Midlothian",
                    "region": "Virginia",
                    "postalCode": "23112",
                    "countryName": "United States",
                    "countryCode": "US",
                    "isDefault": false,
                    "status": "incomplete",
                    "name": "Test2",
                    "accountId": "RA608a55cf08d848b9ae4cac7402f1c019",
                    "enabled": true,
                    "version": 1
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      }
    },
    "/{accountId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get Address by ID",
        "description": "Get details about a specific address. \n\n\n### Path Variables\n<hr>\n<br>\n\n``accountId`` Find your [accountId](#get-your-account-information) <br>\n``addressId`` Find the [addressId](#get-addresses-associated-with-account) <br>",
        "operationId": "GetAddressbyID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Find your [apiToken](#get-or-create-api-token)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Token {{apiToken}}"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 25 Jan 2021 16:05:41 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "441"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetAddressbyID"
                },
                "example": {
                  "transactionId": "TR839d1ef2-7945-4549-9f00-b92d9f639ad4",
                  "address": {
                    "id": "AD3734b588e82b4757934d1cc456c2354f",
                    "customerName": "some business",
                    "streetAddress": "456 Example St",
                    "city": "San Diego",
                    "region": "California",
                    "postalCode": "92115",
                    "countryName": "United States",
                    "countryCode": "US",
                    "isDefault": false,
                    "status": "incomplete",
                    "name": "new name",
                    "accountId": "RA608a55cf08d848b9ae4cac7402f1c019",
                    "enabled": true,
                    "version": 1
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      },
      "patch": {
        "tags": [
          "Addresses"
        ],
        "summary": "Edit Address",
        "description": "Users can edit any address associated with the account\n\n\n### Path Variables\n<hr>\n<br>\n\n``accountId`` Find your [accountId](#get-your-account-information) <br>\n``addressId`` Find the [addressId](#get-addresses-associated-with-account) <br>\n\n### Request Body\n<hr>\n<br>\n\nThis request can be used to modify any of the parameters described in the \"POST Create New Address\" request above.",
        "operationId": "EditAddress",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Find your [apiToken](#get-or-create-api-token)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Token {{apiToken}}"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditAddressRequest"
              },
              "example": {
                "name": "new name",
                "customerName": "some business",
                "streetAddress": "456 Example St",
                "city": "San Diego",
                "region": "California",
                "postalCode": "92115",
                "countryName": "United States",
                "countryCode": "US"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Tue, 19 Jan 2021 21:43:45 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "439"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/EditAddress"
                },
                "example": {
                  "transactionId": "TR1e4ee0a7-7f12-41bb-bd2f-afc849f0b2dc",
                  "address": {
                    "id": "AD3734b588e82b4757934d1cc456c2354f",
                    "customerName": "some business",
                    "streetAddress": "456 Example St",
                    "city": "San Diego",
                    "region": "California",
                    "postalCode": "92115",
                    "countryName": "United States",
                    "countryCode": "US",
                    "isDefault": false,
                    "status": "incomplete",
                    "name": "new name",
                    "accountId": "RA608a55cf08d848b9ae4cac7402f1c019",
                    "enabled": true,
                    "version": 1
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Addresses"
        ],
        "summary": "Delete Address",
        "description": "Users can delete addresses from the list associated with their account.\n\n\n### Path Variables\n<hr>\n<br>\n\n``accountId`` Find your [accountId](#get-your-account-information) <br>\n``addressId`` Find the [addressId](#get-addresses-associated-with-account) <br>",
        "operationId": "DeleteAddress",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Find your [apiToken](#a63045f1-9e95-46cd-896d-1fa137b3abc2)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Token {{apiToken}}"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Tue, 19 Jan 2021 22:26:58 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "195"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAddress"
                },
                "example": {
                  "transactionId": "TR27b6c6fc-2fb9-4711-a989-0e9a72dec2b4",
                  "isSuccessful": true
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      }
    },
    "/{accountId}/addresses/countries": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get Countries Associated With Account",
        "description": "View details about the countries associated with the account\n\n\n### Path Variables\n<hr>\n<br>\n\n``accountId`` Find your [accountId](#get-your-account-information) <br>",
        "operationId": "GetCountriesAssociatedWithAccount",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Find your [apiToken](#get-or-create-api-token)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Token {{apiToken}}"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 25 Jan 2021 16:06:59 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "557"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAddressesbyCountry"
                  },
                  "description": "",
                  "example": [
                    {
                      "addressRequirementFullfilledForTollFreeNumbers": false,
                      "addressRequirementFullfilledForLocalNumbers": false,
                      "name": "Canada",
                      "countryCode": "CA",
                      "hasTollFreeNumbers": true,
                      "hasMobileNumbers": false,
                      "hasLocalNumbers": true,
                      "addressRequirementForTollFreeNumbers": "none",
                      "addressRequirementForLocalNumbers": "none",
                      "addressProofRequirementForTollFreeNumbers": false,
                      "addressProofRequirementForLocalNumbers": false,
                      "identityRequirementForTollFreeNumbers": "none",
                      "identityRequirementForLocalNumbers": "none",
                      "identityProofRequirementForTollFreeNumbers": false,
                      "identityProofRequirementForLocalNumbers": false,
                      "canSearchByZipCode": false,
                      "canSearchByRegion": true,
                      "canSearchByPrefix": true
                    },
                    {
                      "addressRequirementFullfilledForLocalNumbers": false,
                      "name": "New Zealand",
                      "countryCode": "NZ",
                      "hasTollFreeNumbers": false,
                      "hasMobileNumbers": false,
                      "hasLocalNumbers": true,
                      "addressRequirementForLocalNumbers": "none",
                      "addressProofRequirementForLocalNumbers": false,
                      "identityRequirementForLocalNumbers": "none",
                      "identityProofRequirementForLocalNumbers": false,
                      "canSearchByZipCode": false,
                      "canSearchByRegion": false,
                      "canSearchByPrefix": false
                    },
                    {
                      "addressRequirementFullfilledForTollFreeNumbers": false,
                      "addressRequirementFullfilledForLocalNumbers": false,
                      "name": "United States",
                      "countryCode": "US",
                      "hasTollFreeNumbers": true,
                      "hasMobileNumbers": false,
                      "hasLocalNumbers": true,
                      "addressRequirementForTollFreeNumbers": "none",
                      "addressRequirementForLocalNumbers": "none",
                      "addressProofRequirementForTollFreeNumbers": false,
                      "addressProofRequirementForLocalNumbers": false,
                      "identityRequirementForTollFreeNumbers": "none",
                      "identityRequirementForLocalNumbers": "none",
                      "identityProofRequirementForTollFreeNumbers": false,
                      "identityProofRequirementForLocalNumbers": false,
                      "canSearchByZipCode": true,
                      "canSearchByRegion": true,
                      "canSearchByPrefix": false
                    },
                    {
                      "addressRequirementFullfilledForLocalNumbers": false,
                      "name": "Australia",
                      "countryCode": "AU",
                      "hasTollFreeNumbers": false,
                      "hasMobileNumbers": false,
                      "hasLocalNumbers": true,
                      "addressRequirementForLocalNumbers": "none",
                      "addressProofRequirementForLocalNumbers": false,
                      "identityRequirementForLocalNumbers": "none",
                      "identityProofRequirementForLocalNumbers": false,
                      "canSearchByZipCode": false,
                      "canSearchByRegion": false,
                      "canSearchByPrefix": false
                    }
                  ]
                },
                "example": [
                  {
                    "addressRequirementFullfilledForTollFreeNumbers": false,
                    "addressRequirementFullfilledForLocalNumbers": false,
                    "name": "Canada",
                    "countryCode": "CA",
                    "hasTollFreeNumbers": true,
                    "hasMobileNumbers": false,
                    "hasLocalNumbers": true,
                    "addressRequirementForTollFreeNumbers": "none",
                    "addressRequirementForLocalNumbers": "none",
                    "addressProofRequirementForTollFreeNumbers": false,
                    "addressProofRequirementForLocalNumbers": false,
                    "identityRequirementForTollFreeNumbers": "none",
                    "identityRequirementForLocalNumbers": "none",
                    "identityProofRequirementForTollFreeNumbers": false,
                    "identityProofRequirementForLocalNumbers": false,
                    "canSearchByZipCode": false,
                    "canSearchByRegion": true,
                    "canSearchByPrefix": true
                  },
                  {
                    "addressRequirementFullfilledForLocalNumbers": false,
                    "name": "New Zealand",
                    "countryCode": "NZ",
                    "hasTollFreeNumbers": false,
                    "hasMobileNumbers": false,
                    "hasLocalNumbers": true,
                    "addressRequirementForLocalNumbers": "none",
                    "addressProofRequirementForLocalNumbers": false,
                    "identityRequirementForLocalNumbers": "none",
                    "identityProofRequirementForLocalNumbers": false,
                    "canSearchByZipCode": false,
                    "canSearchByRegion": false,
                    "canSearchByPrefix": false
                  },
                  {
                    "addressRequirementFullfilledForTollFreeNumbers": false,
                    "addressRequirementFullfilledForLocalNumbers": false,
                    "name": "United States",
                    "countryCode": "US",
                    "hasTollFreeNumbers": true,
                    "hasMobileNumbers": false,
                    "hasLocalNumbers": true,
                    "addressRequirementForTollFreeNumbers": "none",
                    "addressRequirementForLocalNumbers": "none",
                    "addressProofRequirementForTollFreeNumbers": false,
                    "addressProofRequirementForLocalNumbers": false,
                    "identityRequirementForTollFreeNumbers": "none",
                    "identityRequirementForLocalNumbers": "none",
                    "identityProofRequirementForTollFreeNumbers": false,
                    "identityProofRequirementForLocalNumbers": false,
                    "canSearchByZipCode": true,
                    "canSearchByRegion": true,
                    "canSearchByPrefix": false
                  },
                  {
                    "addressRequirementFullfilledForLocalNumbers": false,
                    "name": "Australia",
                    "countryCode": "AU",
                    "hasTollFreeNumbers": false,
                    "hasMobileNumbers": false,
                    "hasLocalNumbers": true,
                    "addressRequirementForLocalNumbers": "none",
                    "addressProofRequirementForLocalNumbers": false,
                    "identityRequirementForLocalNumbers": "none",
                    "identityProofRequirementForLocalNumbers": false,
                    "canSearchByZipCode": false,
                    "canSearchByRegion": false,
                    "canSearchByPrefix": false
                  }
                ]
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      }
    },
    "/{accountId}/addresses/requirements/{countryCode}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get Details and Requirements for a Specific Country",
        "operationId": "GetDetailsandRequirementsforaSpecificCountry",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Find your [apiToken](#get-or-create-api-token)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Token {{apiToken}}"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 25 Jan 2021 16:09:59 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "332"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetDetailsaboutaspecificcountry"
                },
                "example": {
                  "addressRequirementFullfilledForTollFreeNumbers": false,
                  "addressRequirementFullfilledForLocalNumbers": false,
                  "name": "United States",
                  "countryCode": "US",
                  "hasTollFreeNumbers": true,
                  "hasMobileNumbers": false,
                  "hasLocalNumbers": true,
                  "addressRequirementForTollFreeNumbers": "none",
                  "addressRequirementForLocalNumbers": "none",
                  "addressProofRequirementForTollFreeNumbers": false,
                  "addressProofRequirementForLocalNumbers": false,
                  "identityRequirementForTollFreeNumbers": "none",
                  "identityRequirementForLocalNumbers": "none",
                  "identityProofRequirementForTollFreeNumbers": false,
                  "identityProofRequirementForLocalNumbers": false,
                  "canSearchByZipCode": true,
                  "canSearchByRegion": true,
                  "canSearchByPrefix": false
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      }
    },
    "/{accountId}/addresses/{addressId}/SetDefault": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Set Default Address",
        "description": "Modify which address is the default address for the account.\n\n\n### Path Variables\n<hr>\n<br>\n\n``accountId`` Find your [accountId](#get-your-account-information) <br>\n``addressId`` Find the [addressId](#get-addresses-associated-with-account) <br>",
        "operationId": "SetDefaultAddress",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Find your [apiToken](#get-or-create-api-token)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Token {{apiToken}}"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Tue, 26 Jan 2021 16:12:05 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "449"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SetDefaultAddress"
                },
                "example": {
                  "transactionId": "TR88870abe-f3b9-4159-a5c3-23a30b6a8bc1",
                  "isSuccessful": true,
                  "address": {
                    "id": "AD3734b588e82b4757934d1cc456c2354f",
                    "customerName": "some business",
                    "streetAddress": "456 Example St",
                    "city": "San Diego",
                    "region": "California",
                    "postalCode": "92115",
                    "countryName": "United States",
                    "countryCode": "US",
                    "isDefault": true,
                    "status": "incomplete",
                    "name": "new name",
                    "accountId": "RA608a55cf08d848b9ae4cac7402f1c019",
                    "enabled": true,
                    "version": 1
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      }
    },
    "/{accountId}/Buyers": {
      "get": {
        "tags": [
          "Buyers"
        ],
        "summary": "Get Buyers",
        "description": "Request to retrieve a list of buyers associated with your account.\n\n### Path Variables\n<hr>\n\n``accountId`` Find your [accountId](#get-your-account-information) <br>",
        "operationId": "GetBuyers",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Find your [apiToken](#get-or-create-api-token)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Token {{apiToken}}"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 10 Feb 2021 19:16:08 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "549"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetBuyers"
                },
                "example": {
                  "transactionId": "TRd7df7edd-39f8-4c47-8bb9-f59e1d0e4334",
                  "buyers": [
                    {
                      "email": "",
                      "canPauseTargets": false,
                      "canSetConcurrencyCaps": false,
                      "canDisputeConversions": false,
                      "capacity": {
                        "timeZoneId": "UTC",
                        "allTimeSumCap": -1,
                        "monthlySumCap": -1,
                        "dailySumCap": -1,
                        "hourlySumCap": -1,
                        "allTimeCap": -1,
                        "monthlyCap": -1,
                        "dailyCap": -1,
                        "hourlyCap": -1
                      },
                      "id": "BU0db0aea8954049468ed3d2893d0b00e9",
                      "name": "Acme Call Buyers",
                      "accountId": "RA25107ee2411049989cd8672852278bdb",
                      "enabled": true,
                      "version": 1
                    },
                    {
                      "email": "",
                      "canPauseTargets": true,
                      "canSetConcurrencyCaps": false,
                      "canDisputeConversions": false,
                      "capacity": {
                        "timeZoneId": "UTC",
                        "allTimeSumCap": -1,
                        "monthlySumCap": -1,
                        "dailySumCap": -1,
                        "hourlySumCap": -1,
                        "allTimeCap": -1,
                        "monthlyCap": -1,
                        "dailyCap": -1,
                        "hourlyCap": -1
                      },
                      "id": "BUec50e9c7fa294283ba10a35893b13198",
                      "name": "Example Buyer Co.",
                      "accountId": "RA25107ee2411049989cd8672852278bdb",
                      "enabled": true,
                      "version": 1
                    },
                    {
                      "email": "",
                      "canPauseTargets": false,
                      "canSetConcurrencyCaps": false,
                      "canDisputeConversions": false,
                      "capacity": {
                        "timeZoneId": "UTC",
                        "allTimeSumCap": -1,
                        "monthlySumCap": -1,
                        "dailySumCap": -1,
                        "hourlySumCap": -1,
                        "allTimeCap": -1,
                        "monthlyCap": -1,
                        "dailyCap": -1,
                        "hourlyCap": -1
                      },
                      "id": "BUaf8fb40966cc40cd83e3ac27d9fa5c9a",
                      "name": "Call Buying Inc.",
                      "accountId": "RA25107ee2411049989cd8672852278bdb",
                      "enabled": true,
                      "version": 1
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      }
    },
    "/{accountId}/calls/payments": {
      "post": {
        "tags": [
          "Call Adjustments"
        ],
        "summary": "Adjust Revenue and/or Payment for a Call (with relative adjustments)",
        "description": "This request can adjust the `revenue` received from a buyer for a call as well as the `payout` amount paid to a publisher for a call. \n\n### Path Variables\n<hr>\n<br>\n\n``accountId`` Find your [accountId](#get-your-account-information) <br>\n<br>\n\n### Request Body\n<hr>\n\n#### Required Parameters\n<table>\n<tr>\n<th>Parameter</th>\n<th>Description</th>\n</tr>\n<tr>\n<td><code>inboundCallId</code></td>\n<td>The ID of the call you wish to make and adjustment for. You can get Call IDs using the <a href=\"#get-logs-of-calls-associated-with-account\">Call Log Requests</a>\n</tr>\n<tr>\n<td><code>reason</code></td>\n<td>The reason that the adjustment is being made</td>\n</tr>\n<tr>\n<td><code>adjustConversion</code></td>\n<td>Boolean value to determine whether this request is adjusting the revenue received from the buyer of the call. If set to \"true\" the value of <code>adjustConverionByAmount</code> must have the value by which you wish to adjust the revenue</td>\n</tr>\n<tr>\n<td><code>adjustPayout</code></td>\n<td>Boolean value to determine whether this request is adjusting to payout amount paid to the publisher. If set to \"true\" the value of <code>adjustPayoutByAmount</code> must have the value by which you wish to adjust the payout</td>\n</tr>\n</table>\n\n#### Optional Parameters \n<table>\n<tr>\n<th>Parameter</th>\n<th>Description</th>\n</tr>\n<tr>\n<td><code>adjustConverionByAmount</code></td>\n<td>The amount by which you want to adjust the revenue received from the buyer. See the note below for further information</td>\n</tr>\n<tr>\n<td><code>adjustPayoutByAmount</code></td>\n<td>The amount by which you want to adjust the payout amount paid to the publisher. See the note below for more information</td>\n</tr>\n</table>\n\n__NOTE:__ This request will adjust the revenue/payout by a _relative_ amount, meaning that if the `adjustConverionByAmount` or `adjustPayoutByAmount` fields have a value of \"0.10\" it will add $0.10 to the total amount and if they have a value of \"-0.10\" it will subtract $0.10 from the total amount. To adjust these values _absolutely_ check out the \"POST Adjust Revenue and/or Payment for a Call (with absolute adjusments)\" request below.\n\n\n<!-- `inboundCallId` The ID of the call you wish to make and adjustment for. You can get Call IDs using the [Call Log Requests](#get-logs-of-calls-associated-with-account).<br>\n`reason` The reason that the adjustment is being made. <br>\n`adjustConversion` Boolean value to determine whether this request is adjusting the revenue received from the buyer of the call. If set to \"true\" the value of `adjustConverionByAmount` must have the value by which you wish to adjust the revenue.<br>\n`adjustPayout` Boolean value to determine whether this request is adjusting to payout amount paid to the publisher. If set to \"true\" the value of `adjustPayoutByAmount` must have the value by which you wish to adjust the payout.<br>\n\n`adjustConverionByAmount` The amount by which you want to adjust the revenue received from the buyer. See the note below for further information.<br>\n`adjustPayoutByAmount` The amount by which you want to adjust the payout amount paid to the publisher. See the note below for more information.<br>\n<br> -->",
        "operationId": "AdjustRevenueand/orPaymentforaCall(withrelativeadjustments)",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Find your [apiToken](#get-or-create-api-token)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Token {{apiToken}}"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustRevenueandorPaymentforaCallwithrelativeadjustmentsRequest"
              },
              "example": {
                "inboundCallId": "{{InboundCallId}}",
                "reason": "Call payments adjusted by acct. Admin.",
                "adjustConversion": true,
                "adjustPayout": true,
                "adjustConverionByAmount": -0.01,
                "adjustPayoutByAmount": 0.01
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 18 Feb 2021 19:53:12 GMT"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "-1"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Microsoft-IIS/10.0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "X-AspNet-Version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4.0.30319"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "ASP.NET"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "216"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/AdjustRevenueandPaymentforaCallwithrelativeadjustment"
                },
                "example": {
                  "transactionId": "TR8a4adf07-1b0e-48d7-a62b-ca95e5f47ec8",
                  "result": {
                    "payoutAmount": 0.11,
                    "conversionAmount": 0.11
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "http://http://api.ringba.com/v2/",
            "variables": {}
          }
        ]
      }
    },
[...]
